In [32]:
import pandas as pd

In [33]:
df=pd.DataFrame()

In [34]:
type(df)

pandas.core.frame.DataFrame

In [35]:
df=pd.read_csv('0401empleados.csv',delimiter=";")

In [36]:
df

,Nombre,Sexo,Estado_Civil,Edad,Experiencia,Salario,Gerencia,Departamento
0,Alexandro,Masculino,Soltero(a),22,3,2423,No,Publicidad
1,Felipa,Femenino,Soltero(a),26,5,2639,No,Comercial
2,Daniel,Masculino,Casado(a),35,10,3122,No,Comercial
3,John,Masculino,Casado(a),35,13,3431,Sí,Servicios al cliente
4,Ruperta,Femenino,Casado(a),54,18,3962,No,Producto
...,...,...,...,...,...,...,...,...
138,Hernando,Masculino,Divorciado(a),29,4,2510,No,IT
139,Vito,Masculino,Divorciado(a),22,4,2530,No,Producto
140,Jose,Masculino,Casado(a),30,6,2760,No,Servicios al cliente
141,Marcelo,Masculino,Divorciado(a),44,15,3616,No,IT
142,Leandro,Masculino,Casado(a),37,11,3245,No,Finanzas

In [37]:
df.head()

,Nombre,Sexo,Estado_Civil,Edad,Experiencia,Salario,Gerencia,Departamento
0,Alexandro,Masculino,Soltero(a),22,3,2423,No,Publicidad
1,Felipa,Femenino,Soltero(a),26,5,2639,No,Comercial
2,Daniel,Masculino,Casado(a),35,10,3122,No,Comercial
3,John,Masculino,Casado(a),35,13,3431,Sí,Servicios al cliente
4,Ruperta,Femenino,Casado(a),54,18,3962,No,Producto

In [38]:
df.tail()

,Nombre,Sexo,Estado_Civil,Edad,Experiencia,Salario,Gerencia,Departamento
138,Hernando,Masculino,Divorciado(a),29,4,2510,No,IT
139,Vito,Masculino,Divorciado(a),22,4,2530,No,Producto
140,Jose,Masculino,Casado(a),30,6,2760,No,Servicios al cliente
141,Marcelo,Masculino,Divorciado(a),44,15,3616,No,IT
142,Leandro,Masculino,Casado(a),37,11,3245,No,Finanzas

In [39]:
df.head(2)

,Nombre,Sexo,Estado_Civil,Edad,Experiencia,Salario,Gerencia,Departamento
0,Alexandro,Masculino,Soltero(a),22,3,2423,No,Publicidad
1,Felipa,Femenino,Soltero(a),26,5,2639,No,Comercial

In [40]:
df.tail(2)

,Nombre,Sexo,Estado_Civil,Edad,Experiencia,Salario,Gerencia,Departamento
141,Marcelo,Masculino,Divorciado(a),44,15,3616,No,IT
142,Leandro,Masculino,Casado(a),37,11,3245,No,Finanzas

In [41]:
df.iloc[0]

Nombre           Alexandro
Sexo             Masculino
Estado_Civil    Soltero(a)
Edad                    22
Experiencia              3
Salario               2423
Gerencia                No
Departamento    Publicidad
Name: 0, dtype: object

In [42]:
df.iloc[3]

Nombre                          John
Sexo                       Masculino
Estado_Civil               Casado(a)
Edad                              35
Experiencia                       13
Salario                         3431
Gerencia                          Sí
Departamento    Servicios al cliente
Name: 3, dtype: object

In [43]:
df.values

array([['Alexandro', 'Masculino', 'Soltero(a)', ..., 2423, 'No',
        'Publicidad'],
       ['Felipa', 'Femenino', 'Soltero(a)', ..., 2639, 'No', 'Comercial'],
       ['Daniel', 'Masculino', 'Casado(a)', ..., 3122, 'No', 'Comercial'],
       ...,
       ['Jose', 'Masculino', 'Casado(a)', ..., 2760, 'No',
        'Servicios al cliente'],
       ['Marcelo', 'Masculino', 'Divorciado(a)', ..., 3616, 'No', 'IT'],
       ['Leandro', 'Masculino', 'Casado(a)', ..., 3245, 'No', 'Finanzas']],
      dtype=object)

In [44]:
df=pd.read_csv('0401empleados.csv',delimiter=";", chunksize=2)

In [45]:
for chunk in df:
    print(chunk)

      Nombre       Sexo Estado_Civil  Edad  Experiencia  Salario Gerencia  \
0  Alexandro  Masculino   Soltero(a)    22            3     2423       No
1     Felipa   Femenino   Soltero(a)    26            5     2639       No

  Departamento
0   Publicidad
1    Comercial
   Nombre       Sexo Estado_Civil  Edad  Experiencia  Salario Gerencia  \
2  Daniel  Masculino    Casado(a)    35           10     3122       No
3    John  Masculino    Casado(a)    35           13     3431       Sí

           Departamento
2             Comercial
3  Servicios al cliente
      Nombre      Sexo Estado_Civil  Edad  Experiencia  Salario Gerencia  \
4    Ruperta  Femenino    Casado(a)    54           18     3962       No
5  Francisca  Femenino   Soltero(a)    27            4     2564       No

  Departamento
4     Producto
5           IT
   Nombre      Sexo Estado_Civil  Edad  Experiencia  Salario Gerencia  \
6  Selena  Femenino    Casado(a)    24            6     2709       Sí
7  Ximena  Femenino   Soltero(a)    58           24     4532       No

   Departamento
6  Contabilidad
7         Legal
  Nombre       Sexo   Estado_Civil  Edad  Experiencia  Salario Gerencia  \
8  David  Masculino  Divorciado(a)    20            1     1977       No
9    Max  Masculino  Divorciado(a)    39            8     2953       No

       Departamento
8  Recursos Humanos
9            Ventas
   Nombre       Sexo   Estado_Civil  Edad  Experiencia  Salario Gerencia  \
10  Paula   Femenino  Divorciado(a)    55           12     3306       No
11    Tim  Masculino  Divorciado(a)    22            4     2518       No

        Departamento
10          Producto
11  Recursos Humanos
    Nombre       Sexo Estado_Civil  Edad  Experiencia  Salario Gerencia  \
12  Gloria   Femenino    Casado(a)    31           11     3267       No
13   Jesse  Masculino   Soltero(a)    34           11     3257       No

            Departamento
12  Servicios al cliente
13            Publicidad
    Nombre       Sexo Estado_Civil  Edad  Experiencia  Salario Gerencia  \
14  Ronald  Masculino   Soltero(a)    23            5     2695       No
15  Manola   Femenino   Soltero(a)    40            9     3023       No

            Departamento
14  Servicios al cliente
15                    IT
      Nombre       Sexo Estado_Civil  Edad  Experiencia  Salario Gerencia  \
16   Isabela   Femenino    Casado(a)    66           12     3344       No
17  Herberto  Masculino    Casado(a)    28            3     2391       No

            Departamento
16          Contabilidad
17  Servicios al cliente
      Nombre      Sexo   Estado_Civil  Edad  Experiencia  Salario Gerencia  \
18     Lilia  Femenino  Divorciado(a)    42           16     3796       No
19  Agustina  Femenino      Casado(a)    21            3     2371       No

            Departamento
18                Ventas
19  Servicios al cliente
     Nombre       Sexo   Estado_Civil  Edad  Experiencia  Salario Gerencia  \
20  Anselma   Femenino      Casado(a)    18            0     1887       No
21    Lucho  Masculino  Divorciado(a)    40            3     2385       No

    Departamento
20  Contabilidad
21      Finanzas
       Nombre      Sexo Estado_Civil  Edad  Experiencia  Salario Gerencia  \
22  Maristela  Femenino   Soltero(a)    38           11     3256       No
23   Gabriela  Femenino   Soltero(a)    19            1     1985       No

   Departamento
22   Publicidad
23     Producto
      Nombre       Sexo   Estado_Civil  Edad  Experiencia  Salario Gerencia  \
24  Gabriela   Femenino     Soltero(a)    37           13     3409       No
25  Olegario  Masculino  Divorciado(a)    49            5     2626       No

        Departamento
24                IT
25  Recursos Humanos
    Nombre       Sexo Estado_Civil  Edad  Experiencia  Salario Gerencia  \
26   Berta   Femenino    Casado(a)    65           27     4888       No
27  Albino  Masculino    Casado(a)    21            2     2207       No

   Departamento
26           IT
27    Comercial
     Nombre       Sexo   Estado_Civil  Edad  Experiencia  Salario Gerencia  \
28   Albert  Masculino      Casado(a)    28            4     2527       No
29  Florina   Femenino  Divorciado(a)    55           33     5462       No

        Departamento
28  Recursos Humanos
29                IT
     Nombre      Sexo   Estado_Civil  Edad  Experiencia  Salario Gerencia  \
30  Soledad  Femenino  Divorciado(a)    21            3     2477       No
31   Miriam  Femenino     Soltero(a)    38            1     1999       No

    Departamento
30            IT
31  Contabilidad
   Nombre       Sexo Estado_Civil  Edad  Experiencia  Salario Gerencia  \
32  Lucio  Masculino   Soltero(a)    54           12     3317       No
33  Luisa   Femenino   Soltero(a)    29            5     2648       No

        Departamento
32  Recursos Humanos
33      Contabilidad
      Nombre       Sexo   Estado_Civil  Edad  Experiencia  Salario Gerencia  \
34    Regina   Femenino  Divorciado(a)    19            1     2033       No
35  Dionisio  Masculino      Casado(a)    47           20     4168       No

   Departamento
34    Comercial
35    Comercial
    Nombre       Sexo Estado_Civil  Edad  Experiencia  Salario Gerencia  \
36  Eliseo  Masculino    Casado(a)    36            7     2900       No
37  Loreto  Masculino   Soltero(a)    21            3     2432       No

   Departamento
36       Ventas
37     Producto
     Nombre       Sexo Estado_Civil  Edad  Experiencia  Salario Gerencia  \
38   Olivia   Femenino    Casado(a)    26            5     2655       No
39  Alfonso  Masculino    Casado(a)    32           10     3134       No

   Departamento
38       Ventas
39   Publicidad
     Nombre      Sexo Estado_Civil  Edad  Experiencia  Salario Gerencia  \
40  Carlota  Femenino   Soltero(a)    25            3     2317       No
41   Eligia  Femenino   Soltero(a)    24            3     2453       No

        Departamento
40  Recursos Humanos
41            Ventas
   Nombre       Sexo   Estado_Civil  Edad  Experiencia  Salario Gerencia  \
42  Amada   Femenino  Divorciado(a)    30            3     2443       No
43  Amado  Masculino     Soltero(a)    29            2     2221       No

   Departamento
42     Producto
43        Legal
      Nombre       Sexo   Estado_Civil  Edad  Experiencia  Salario Gerencia  \
44    Cirino  Masculino  Divorciado(a)    28            4     2581       No
45  Joaquina   Femenino      Casado(a)    27            1     2007       No

   Departamento
44    Comercial
45    Comercial
      Nombre       Sexo Estado_Civil  Edad  Experiencia  Salario Gerencia  \
46  Herberto  Masculino   Soltero(a)    33           12     3364       No
47  Susanita   Femenino    Casado(a)    23            2     2228       No

            Departamento
46  Servicios al cliente
47                 Legal
     Nombre      Sexo   Estado_Civil  Edad  Experiencia  Salario Gerencia  \
48   Melisa  Femenino     Soltero(a)    24            3     2362       No
49  Yolanda  Femenino  Divorciado(a)    46            1     1939       No

    Departamento
48         Legal
49  Contabilidad
     Nombre       Sexo Estado_Civil  Edad  Experiencia  Salario Gerencia  \
50  Paulino  Masculino   Soltero(a)    59           15     3641       No
51  Teodora   Femenino    Casado(a)    71           32     5332       No

   Departamento
50        Legal
51    Comercial
       Nombre       Sexo Estado_Civil  Edad  Experiencia  Salario Gerencia  \
52   Herminia   Femenino   Soltero(a)    34            9     3010       No
53  Francisco  Masculino    Casado(a)    34            8     2920       No

     Departamento
52     Publicidad
53  Reclutamiento
     Nombre       Sexo   Estado_Civil  Edad  Experiencia  Salario Gerencia  \
54  Pastora   Femenino  Divorciado(a)    28            5     2631       No
55     Jose  Masculino     Soltero(a)    21            3     2300       No

            Departamento
54             Comercial
55  Servicios al cliente
    Nombre       Sexo   Estado_Civil  Edad  Experiencia  Salario Gerencia  \
56     Eva   Femenino     Soltero(a)    33            8     2931       Sí
57  Erasmo  Masculino  Divorciado(a)    37            2     2148       No

   Departamento
56    Comercial
57   Publicidad
       Nombre       Sexo Estado_Civil  Edad  Experiencia  Salario Gerencia  \
58     Eliana   Femenino    Casado(a)    28            6     2779       No
59  Adalberto  Masculino    Casado(a)    21            2     2249       No

   Departamento
58    Comercial
59        Legal
   Nombre      Sexo Estado_Civil  Edad  Experiencia  Salario Gerencia  \
60  Luisa  Femenino   Soltero(a)    47            9     3020       No
61    Ana  Femenino   Soltero(a)    54            8     2953       Sí

    Departamento
60         Legal
61  Contabilidad
       Nombre       Sexo Estado_Civil  Edad  Experiencia  Salario Gerencia  \
62  Aureliano  Masculino   Soltero(a)    22            4     2524       No
63    Samanta   Femenino    Casado(a)    20            2     2298       No

   Departamento
62   Publicidad
63           IT
   Nombre      Sexo   Estado_Civil  Edad  Experiencia  Salario Gerencia  \
64    Ana  Femenino  Divorciado(a)    47            5     2625       No
65  Amada  Femenino     Soltero(a)    21            2     2274       No

    Departamento
64  Contabilidad
65      Producto
      Nombre       Sexo   Estado_Civil  Edad  Experiencia  Salario Gerencia  \
66   Carmelo  Masculino      Casado(a)    29            2     2250       No
67  Consuelo   Femenino  Divorciado(a)    24            1     2091       No

    Departamento
66     Comercial
67  Contabilidad
     Nombre       Sexo   Estado_Civil  Edad  Experiencia  Salario Gerencia  \
68      Teo  Masculino      Casado(a)    23            5     2643       No
69  Leandro  Masculino  Divorciado(a)    21            3     2322       No

    Departamento
68    Publicidad
69  Contabilidad
      Nombre      Sexo Estado_Civil  Edad  Experiencia  Salario Gerencia  \
70     Fanny  Femenino    Casado(a)    32            7     2843       No
71  Dionisia  Femenino   Soltero(a)    32            8     2936       Sí

   Departamento
70           IT
71     Producto
      Nombre      Sexo Estado_Civil  Edad  Experiencia  Salario Gerencia  \
72  Joaquina  Femenino    Casado(a)    54           25     4657       Sí
73     Leire  Femenino    Casado(a)    42            2     2237       No

        Departamento
72          Producto
73  Recursos Humanos
     Nombre       Sexo Estado_Civil  Edad  Experiencia  Salario Gerencia  \
74  Lorenzo  Masculino   Soltero(a)    24            3     2335       No
75  Hilario  Masculino    Casado(a)    45           10     3166       No

        Departamento
74  Recursos Humanos
75      Contabilidad
      Nombre      Sexo Estado_Civil  Edad  Experiencia  Salario Gerencia  \
76  Susanita  Femenino   Soltero(a)    33            4     2581       No
77     Flora  Femenino   Soltero(a)    20            2     2256       No

        Departamento
76  Recursos Humanos
77          Producto
   Nombre       Sexo   Estado_Civil  Edad  Experiencia  Salario Gerencia  \
78  Celso  Masculino      Casado(a)    47           15     3646       No
79    Luz   Femenino  Divorciado(a)    29            4     2592       No

            Departamento
78      Recursos Humanos
79  Servicios al cliente
       Nombre      Sexo   Estado_Civil  Edad  Experiencia  Salario Gerencia  \
80     Adelia  Femenino      Casado(a)    25            3     2477       No
81  Francisca  Femenino  Divorciado(a)    23            2     2270       No

    Departamento
80  Contabilidad
81         Legal
       Nombre       Sexo Estado_Civil  Edad  Experiencia  Salario Gerencia  \
82   Santiago  Masculino   Soltero(a)    19            1     1920       No
83  Fulgencio  Masculino    Casado(a)    37           10     3117       No

   Departamento
82        Legal
83     Finanzas
     Nombre       Sexo Estado_Civil  Edad  Experiencia  Salario Gerencia  \
84  Clarisa   Femenino    Casado(a)    56            8     2972       Sí
85   Loreto  Masculino   Soltero(a)    22            3     2492       No

   Departamento
84           IT
85     Producto
    Nombre      Sexo   Estado_Civil  Edad  Experiencia  Salario Gerencia  \
86   Clara  Femenino     Soltero(a)    24            3     2347       No
87  Soraya  Femenino  Divorciado(a)    19            1     2037       No

            Departamento
86             Comercial
87  Servicios al cliente
   Nombre       Sexo   Estado_Civil  Edad  Experiencia  Salario Gerencia  \
88  Reyes   Femenino     Soltero(a)    27            4     2508       No
89   Iker  Masculino  Divorciado(a)    39           11     3287       No

   Departamento
88     Producto
89        Legal
     Nombre       Sexo   Estado_Civil  Edad  Experiencia  Salario Gerencia  \
90  Ernesto  Masculino  Divorciado(a)    51           11     3233       No
91   Estela   Femenino      Casado(a)    55            5     2675       No

            Departamento
90            Publicidad
91  Servicios al cliente
     Nombre       Sexo Estado_Civil  Edad  Experiencia  Salario Gerencia  \
92  Pastora   Femenino    Casado(a)    51            8     2995       Sí
93  Amancio  Masculino    Casado(a)    46            9     3054       Sí

        Departamento
92     Reclutamiento
93  Recursos Humanos
   Nombre       Sexo Estado_Civil  Edad  Experiencia  Salario Gerencia  \
94    Eva   Femenino    Casado(a)    44           12     3373       Sí
95   Lino  Masculino    Casado(a)    26            5     2662       No

   Departamento
94    Comercial
95        Legal
   Nombre       Sexo   Estado_Civil  Edad  Experiencia  Salario Gerencia  \
96   Juan  Masculino  Divorciado(a)    37            3     2325       No
97  Adela   Femenino  Divorciado(a)    21            3     2467       No

            Departamento
96  Servicios al cliente
97          Contabilidad
     Nombre       Sexo Estado_Civil  Edad  Experiencia  Salario Gerencia  \
98  Eugenio  Masculino    Casado(a)    45           18     3908       No
99    Daisy   Femenino    Casado(a)    61            8     2902       No

   Departamento
98       Ventas
99       Ventas
     Nombre      Sexo   Estado_Civil  Edad  Experiencia  Salario Gerencia  \
100   Marta  Femenino     Soltero(a)    51            5     2651       No
101  Elodia  Femenino  Divorciado(a)    21            3     2462       No

    Departamento
100    Comercial
101           IT
     Nombre       Sexo   Estado_Civil  Edad  Experiencia  Salario Gerencia  \
102  Emilio  Masculino  Divorciado(a)    18            0     1872       No
103   Kevin  Masculino     Soltero(a)    50            8     2985       Sí

    Departamento
102           IT
103     Finanzas
      Nombre       Sexo   Estado_Civil  Edad  Experiencia  Salario Gerencia  \
104    Belen   Femenino     Soltero(a)    29            4     2596       No
105  Richard  Masculino  Divorciado(a)    34            7     2804       No

             Departamento
104          Contabilidad
105  Servicios al cliente
      Nombre       Sexo Estado_Civil  Edad  Experiencia  Salario Gerencia  \
106    Aaron  Masculino   Soltero(a)    45            9     3093       Sí
107  Douglas  Masculino    Casado(a)    40            6     2735       No

    Departamento
106   Publicidad
107        Legal
    Nombre       Sexo Estado_Civil  Edad  Experiencia  Salario Gerencia  \
108   Sean  Masculino   Soltero(a)    36            2     2114       No
109  Celia   Femenino    Casado(a)    32           11     3260       No

    Departamento
108       Ventas
109    Comercial
     Nombre      Sexo   Estado_Civil  Edad  Experiencia  Salario Gerencia  \
110  Angela  Femenino     Soltero(a)    19            1     2100       No
111    Olga  Femenino  Divorciado(a)    32            4     2573       No

    Departamento
110           IT
111        Legal
      Nombre       Sexo Estado_Civil  Edad  Experiencia  Salario Gerencia  \
112  Rafaela   Femenino    Casado(a)    44           11     3292       No
113    Corey  Masculino    Casado(a)    58           32     5360       No

    Departamento
112     Finanzas
113     Producto
     Nombre       Sexo   Estado_Civil  Edad  Experiencia  Salario Gerencia  \
114  Otilia   Femenino  Divorciado(a)    42            8     2990       No
115   Shaun  Masculino      Casado(a)    28            6     2796       No

             Departamento
114  Servicios al cliente
115             Comercial
     Nombre       Sexo   Estado_Civil  Edad  Experiencia  Salario Gerencia  \
116    Eric  Masculino  Divorciado(a)    34            6     2745       No
117  Daniel  Masculino      Casado(a)    18            0     1875       No

    Departamento
116       Ventas
117   Publicidad
    Nombre       Sexo   Estado_Civil  Edad  Experiencia  Salario Gerencia  \
118  James  Masculino      Casado(a)    46           20     4154       No
119   Gala   Femenino  Divorciado(a)    40            1     1946       No

         Departamento
118  Recursos Humanos
119                IT
    Nombre      Sexo Estado_Civil  Edad  Experiencia  Salario Gerencia  \
120  Elena  Femenino    Casado(a)    24            2     2101       No
121   Luna  Femenino   Soltero(a)    35            6     2772       No

         Departamento
120             Legal
121  Recursos Humanos
       Nombre      Sexo Estado_Civil  Edad  Experiencia  Salario Gerencia  \
122  Jennifer  Femenino   Soltero(a)    22            1     1930       No
123   Rosenda  Femenino    Casado(a)    30            4     2596       No

             Departamento
122  Servicios al cliente
123                    IT
     Nombre       Sexo Estado_Civil  Edad  Experiencia  Salario Gerencia  \
124  Odalis   Femenino   Soltero(a)    31            2     2262       No
125  Felipe  Masculino   Soltero(a)    27            3     2456       No

             Departamento
124  Servicios al cliente
125            Publicidad
    Nombre       Sexo Estado_Civil  Edad  Experiencia  Salario Gerencia  \
126   Jose  Masculino    Casado(a)    30            4     2513       No
127  Ariel  Masculino    Casado(a)    27            2     2100       No

    Departamento
126    Comercial
127        Legal
    Nombre       Sexo   Estado_Civil  Edad  Experiencia  Salario Gerencia  \
128   Luis  Masculino  Divorciado(a)    51           25     4681       No
129  Lucho  Masculino      Casado(a)    22            4     2507       No

    Departamento
128    Comercial
129       Ventas
         Nombre       Sexo   Estado_Civil  Edad  Experiencia  Salario  \
130      Yesica   Femenino  Divorciado(a)    19            1     1935
131  Victoriano  Masculino      Casado(a)    20            2     2110

    Gerencia          Departamento
130       No             Comercial
131       No  Servicios al cliente
     Nombre       Sexo Estado_Civil  Edad  Experiencia  Salario Gerencia  \
132  Onofre  Masculino   Soltero(a)    18            1     2067       No
133  Carina   Femenino    Casado(a)    29            1     1904       No

    Departamento
132           IT
133     Producto
     Nombre      Sexo Estado_Civil  Edad  Experiencia  Salario Gerencia  \
134  Alicia  Femenino    Casado(a)    24            4     2507       No
135  Lupita  Femenino    Casado(a)    44           14     3532       No

             Departamento
134  Servicios al cliente
135              Producto
     Nombre       Sexo Estado_Civil  Edad  Experiencia  Salario Gerencia  \
136  Soraya   Femenino   Soltero(a)    38            4     2546       No
137    Eric  Masculino    Casado(a)    19            1     1964       No

    Departamento
136        Legal
137        Legal
       Nombre       Sexo   Estado_Civil  Edad  Experiencia  Salario Gerencia  \
138  Hernando  Masculino  Divorciado(a)    29            4     2510       No
139      Vito  Masculino  Divorciado(a)    22            4     2530       No

    Departamento
138           IT
139     Producto
      Nombre       Sexo   Estado_Civil  Edad  Experiencia  Salario Gerencia  \
140     Jose  Masculino      Casado(a)    30            6     2760       No

In [46]:
df=pd.read_csv('0401empleados.csv',delimiter=";")

In [47]:
df=df[df['Edad']>28]

In [48]:
df

,Nombre,Sexo,Estado_Civil,Edad,Experiencia,Salario,Gerencia,Departamento
2,Daniel,Masculino,Casado(a),35,10,3122,No,Comercial
3,John,Masculino,Casado(a),35,13,3431,Sí,Servicios al cliente
4,Ruperta,Femenino,Casado(a),54,18,3962,No,Producto
7,Ximena,Femenino,Soltero(a),58,24,4532,No,Legal
9,Max,Masculino,Divorciado(a),39,8,2953,No,Ventas
...,...,...,...,...,...,...,...,...
136,Soraya,Femenino,Soltero(a),38,4,2546,No,Legal
138,Hernando,Masculino,Divorciado(a),29,4,2510,No,IT
140,Jose,Masculino,Casado(a),30,6,2760,No,Servicios al cliente
141,Marcelo,Masculino,Divorciado(a),44,15,3616,No,IT
142,Leandro,Masculino,Casado(a),37,11,3245,No,Finanzas