In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('0401empleados.csv', delimiter=";")

In [3]:
df.head()

,Nombre,Sexo,Estado_Civil,Edad,Experiencia,Salario,Gerencia,Departamento
0,Alexandro,Masculino,Soltero(a),22,3,2423,No,Publicidad
1,Felipa,Femenino,Soltero(a),26,5,2639,No,Comercial
2,Daniel,Masculino,Casado(a),35,10,3122,No,Comercial
3,John,Masculino,Casado(a),35,13,3431,Sí,Servicios al cliente
4,Ruperta,Femenino,Casado(a),54,18,3962,No,Producto

In [4]:
df.set_index(['Experiencia','Salario'],inplace=True)

In [5]:
df.index

MultiIndex([( 3, 2423),
            ( 5, 2639),
            (10, 3122),
            (13, 3431),
            (18, 3962),
            ( 4, 2564),
            ( 6, 2709),
            (24, 4532),
            ( 1, 1977),
            ( 8, 2953),
            ...
            ( 1, 1904),
            ( 4, 2507),
            (14, 3532),
            ( 4, 2546),
            ( 1, 1964),
            ( 4, 2510),
            ( 4, 2530),
            ( 6, 2760),
            (15, 3616),
            (11, 3245)],
           names=['Experiencia', 'Salario'], length=143)

In [6]:

df.columns

Index(['Nombre', 'Sexo', 'Estado_Civil', 'Edad', 'Gerencia', 'Departamento'], dtype='object')