In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [2]:
df=pd.read_csv('empleados.csv', delimiter=";")
df

     Edad  Experiencia  Salario
0    22.0            3     2423
1    26.0            5     2639
2    35.0           10     3122
3    35.0           13     3431
4    54.0           18     3962
..    ...          ...      ...
186  29.0            4     2510
187  22.0            4     2530
188  30.0            6     2760
189  44.0           15     3616
190  37.0           11     3245

[191 rows x 3 columns]