In [16]:
import pandas as pd

In [17]:
df=pd.read_csv('emisiones.csv', delimiter=";")

In [18]:
df

          Marca  Motor  Cilindros  Consumo Ciudad  Consumo Carretera  CO2
0      Delicacy    2.1          4            13.7                9.1  290
1        Fusion    2.6          4            12.7                8.6  327
2      Majestic    2.0          4            13.7                9.4  382
3        Garnet    4.3          4            14.3                9.0  347
4           Pit    3.6          4            14.6               10.4  377
..          ...    ...        ...             ...                ...  ...
94     Carquipo    3.7          4            16.7               10.3  248
95         Carx    3.1          4            10.0                9.6  235
96        Carya    3.6          4            11.5               10.2  239
97  Picker Auto    3.9          4             9.3               11.2  230
98     Ape Auto    2.1          4            12.2                7.2  278

[99 rows x 6 columns]

In [19]:
df=df.iloc[:,[0,1,3,2,4]]

          Marca  Motor  Consumo Ciudad  Cilindros  Consumo Carretera
0      Delicacy    2.1            13.7          4                9.1
1        Fusion    2.6            12.7          4                8.6
2      Majestic    2.0            13.7          4                9.4
3        Garnet    4.3            14.3          4                9.0
4           Pit    3.6            14.6          4               10.4
..          ...    ...             ...        ...                ...
94     Carquipo    3.7            16.7          4               10.3
95         Carx    3.1            10.0          4                9.6
96        Carya    3.6            11.5          4               10.2
97  Picker Auto    3.9             9.3          4               11.2
98     Ape Auto    2.1            12.2          4                7.2

[99 rows x 5 columns]

In [21]:
new_order=['Marca','Cilindros','Motor','Consumo Carretera','Consumo Ciudad']

In [22]:
df_mod=df.reindex(columns=new_order)

In [23]:
df_mod

          Marca  Cilindros  Motor  Consumo Carretera  Consumo Ciudad
0      Delicacy          4    2.1                9.1            13.7
1        Fusion          4    2.6                8.6            12.7
2      Majestic          4    2.0                9.4            13.7
3        Garnet          4    4.3                9.0            14.3
4           Pit          4    3.6               10.4            14.6
..          ...        ...    ...                ...             ...
94     Carquipo          4    3.7               10.3            16.7
95         Carx          4    3.1                9.6            10.0
96        Carya          4    3.6               10.2            11.5
97  Picker Auto          4    3.9               11.2             9.3
98     Ape Auto          4    2.1                7.2            12.2

[99 rows x 5 columns]