In [24]:
import pandas as pd

In [25]:
df=pd.read_csv('emisiones.csv', delimiter=";")

In [26]:
df

          Marca  Motor  Cilindros  Consumo Ciudad  Consumo Carretera  CO2
0      Delicacy    2.1          4            13.7                9.1  290
1        Fusion    2.6          4            12.7                8.6  327
2      Majestic    2.0          4            13.7                9.4  382
3        Garnet    4.3          4            14.3                9.0  347
4           Pit    3.6          4            14.6               10.4  377
..          ...    ...        ...             ...                ...  ...
94     Carquipo    3.7          4            16.7               10.3  248
95         Carx    3.1          4            10.0                9.6  235
96        Carya    3.6          4            11.5               10.2  239
97  Picker Auto    3.9          4             9.3               11.2  230
98     Ape Auto    2.1          4            12.2                7.2  278

[99 rows x 6 columns]

In [27]:
df=df.iloc[:,[0,1,3,2,4]]

In [28]:
new_order=['Marca','Cilindros','Motor','Consumo Carretera','Consumo Ciudad']

In [29]:
df_mod=df.reindex(columns=new_order)

In [30]:
df_mod

          Marca  Cilindros  Motor  Consumo Carretera  Consumo Ciudad
0      Delicacy          4    2.1                9.1            13.7
1        Fusion          4    2.6                8.6            12.7
2      Majestic          4    2.0                9.4            13.7
3        Garnet          4    4.3                9.0            14.3
4           Pit          4    3.6               10.4            14.6
..          ...        ...    ...                ...             ...
94     Carquipo          4    3.7               10.3            16.7
95         Carx          4    3.1                9.6            10.0
96        Carya          4    3.6               10.2            11.5
97  Picker Auto          4    3.9               11.2             9.3
98     Ape Auto          4    2.1                7.2            12.2

[99 rows x 5 columns]