In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('empleados.csv', delimiter=";")
df

     Edad  Experiencia  Salario
0    22.0            3     2423
1    26.0            5     2639
2    35.0           10     3122
3    35.0           13     3431
4    54.0           18     3962
..    ...          ...      ...
186  29.0            4     2510
187  22.0            4     2530
188  30.0            6     2760
189  44.0           15     3616
190  37.0           11     3245

[191 rows x 3 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191 entries, 0 to 190
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Edad         145 non-null    float64
 1   Experiencia  191 non-null    int64
 2   Salario      191 non-null    int64
dtypes: float64(1), int64(2)
memory usage: 4.6 KB

In [6]:
df.mean(axis=0)

Edad             33.868966
Experiencia       8.926702
Salario        2992.000000
dtype: float64