In [9]:
import pandas as pd

In [10]:
df=pd.read_csv('temperaturas.csv', delimiter=";")
df

     Año  temperatura
0   1960         71.4
1   1961         71.9
2   1962         71.9
3   1963         72.3
4   1964         71.7
..   ...          ...
57  2017         74.6
58  2018         73.5
59  2019         72.7
60  2020         74.6
61  2021         73.5

[62 rows x 2 columns]

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Año          62 non-null     int64
 1   temperatura  62 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 1.1 KB

In [12]:
df['temperatura'].min()

70.9

In [13]:
df['temperatura'].max()

75.3

In [14]:
df['temperatura'].std()

1.0573219315056979

In [15]:
df['temperatura'].var()

1.1179296668429397

In [16]:
df['temperatura'].describe()

count    62.000000
mean     72.624194
std       1.057322
min      70.900000
25%      71.725000
50%      72.450000
75%      73.300000
max      75.300000
Name: temperatura, dtype: float64