In [5]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [6]:
df=pd.read_csv('0401empleados.csv', delimiter=";")
df.head()

,Nombre,Sexo,Estado_Civil,Edad,Experiencia,Salario,Gerencia,Departamento
0,Alexandro,Masculino,Soltero(a),22,3,2423,No,Publicidad
1,Felipa,Femenino,Soltero(a),26,5,2639,No,Comercial
2,Daniel,Masculino,Casado(a),35,10,3122,No,Comercial
3,John,Masculino,Casado(a),35,13,3431,Sí,Servicios al cliente
4,Ruperta,Femenino,Casado(a),54,18,3962,No,Producto

In [8]:
y=df['Salario'].values.reshape(-1,1)
X=df['Experiencia'].values.reshape(-1,1)

In [9]:
xtrain, xtest,ytrain, ytest = train_test_split(X, y, test_size=0.20)

In [10]:
linearRe= LinearRegression()

In [12]:
linearRe.fit(xtrain, ytrain)

print('Coeficiente de Regresion: ', linearRe.coef_)
print('Puntaje de Regresion: ', linearRe.score(xtest, ytest))

Coeficiente de Regresion:  [[108.67663992]]
Puntaje de Regresion:  0.9863736704887326