In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('StudentsPerformance.csv')
df.head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [5]:
#MOSTRAR COLUMNAS EN ESPECIFICO

In [8]:
#Para ver el tipo de dato de la columna..
type(df['gender'])

pandas.core.series.Series

In [9]:
#mostrar los datos de la columna
df['gender']

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

In [12]:
df['gender'].index

RangeIndex(start=0, stop=1000, step=1)

In [13]:
df['gender'].head()

0    female
1    female
2    female
3      male
4      male
Name: gender, dtype: object

In [14]:
#FORMA 2 PARA MOSTRAR UNA COLOMNA EN FORMA DE METODO

In [16]:
df.lunch

0          standard
1          standard
2          standard
3      free/reduced
4          standard
           ...
995        standard
996    free/reduced
997    free/reduced
998        standard
999    free/reduced
Name: lunch, Length: 1000, dtype: object

In [17]:
# LA FORMMA MAS VIABEL PARA MOSTRAR DATOS DE COLUMNAS EN CASO TENGAN MAS DE 2 PALABRAS

In [18]:
df['math score']

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math score, Length: 1000, dtype: int64

In [19]:
#MANIPULACION DE 2 O MAS COLUMNAS A VEZ

In [20]:
df[['gender', 'math score']]

     gender  math score
0    female          72
1    female          69
2    female          90
3      male          47
4      male          76
..      ...         ...
995  female          88
996    male          62
997  female          59
998  female          68
999  female          77

[1000 rows x 2 columns]

In [21]:
df[['gender', 'math score', 'reading score', 'writing score']]

     gender  math score  reading score  writing score
0    female          72             72             74
1    female          69             90             88
2    female          90             95             93
3      male          47             57             44
4      male          76             78             75
..      ...         ...            ...            ...
995  female          88             99             95
996    male          62             55             55
997  female          59             71             65
998  female          68             78             77
999  female          77             86             86

[1000 rows x 4 columns]