In [74]:
import pandas as pd

In [75]:
df=pd.read_csv('StudentsPerformance.csv')
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [76]:
#AGREHAR COLUMNAS CON NUMPY

In [77]:
import numpy as np

In [78]:
lang_score=np.arange(0, 1000)

In [79]:
len(lang_score)

1000

In [80]:
df['Language Scores'] = lang_score
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Language Scores
0,female,group B,bachelor's degree,standard,none,72,72,74,0
1,female,group C,some college,standard,completed,69,90,88,1
2,female,group B,master's degree,standard,none,90,95,93,2
3,male,group A,associate's degree,free/reduced,none,47,57,44,3
4,male,group C,some college,standard,none,76,78,75,4
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,995
996,male,group C,high school,free/reduced,none,62,55,55,996
997,female,group C,high school,free/reduced,completed,59,71,65,997
998,female,group D,some college,standard,completed,68,78,77,998
999,female,group D,some college,free/reduced,none,77,86,86,999

In [81]:
rand_numbers=np.random.randint(1,100, size=1000)

In [82]:
df['Language Scores']= rand_numbers

In [83]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Language Scores
0,female,group B,bachelor's degree,standard,none,72,72,74,59
1,female,group C,some college,standard,completed,69,90,88,55
2,female,group B,master's degree,standard,none,90,95,93,87
3,male,group A,associate's degree,free/reduced,none,47,57,44,69
4,male,group C,some college,standard,none,76,78,75,17
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,30
996,male,group C,high school,free/reduced,none,62,55,55,56
997,female,group C,high school,free/reduced,completed,59,71,65,96
998,female,group D,some college,standard,completed,68,78,77,75
999,female,group D,some college,free/reduced,none,77,86,86,68