In [1]:
import pandas as pd

In [17]:
df_op=pd.read_csv('StudentsPerformance.csv')
df_op

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [3]:
#suma de columnas

In [4]:
df_op['math score'].sum()

66089

In [6]:
#OPERACIONDES DE
#CONTAR
#PROMEDIO
#DESVIACION STANDAR
#VVALOR MAXIMO
#VALOR MINIMO

In [7]:
df_op['math score'].count()

1000

In [8]:
df_op['math score'].mean()

66.089

In [9]:
df_op['math score'].std()

15.163080096009468

In [10]:
df_op['math score'].max()

100

In [11]:
df_op['math score'].min()

0

In [12]:
#CALCULAR CON DESCRIBE

In [13]:
df_op.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [14]:
#SUMA ENTRE FILAS

In [18]:
df_op['math score']+df_op['reading score']+df_op['writing score']

0      218
1      247
2      278
3      148
4      229
      ...
995    282
996    172
997    195
998    223
999    249
Length: 1000, dtype: int64

In [19]:
(df_op['math score']+df_op['reading score']+df_op['writing score'])/3

0      72.666667
1      82.333333
2      92.666667
3      49.333333
4      76.333333
         ...
995    94.000000
996    57.333333
997    65.000000
998    74.333333
999    83.000000
Length: 1000, dtype: float64

In [22]:
df_op['Average']=(df_op['math score']+df_op['reading score']+df_op['writing score'])/3
df_op.round(2)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Average
0,female,group B,bachelor's degree,standard,none,72,72,74,72.67
1,female,group C,some college,standard,completed,69,90,88,82.33
2,female,group B,master's degree,standard,none,90,95,93,92.67
3,male,group A,associate's degree,free/reduced,none,47,57,44,49.33
4,male,group C,some college,standard,none,76,78,75,76.33
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,94.00
996,male,group C,high school,free/reduced,none,62,55,55,57.33
997,female,group C,high school,free/reduced,completed,59,71,65,65.00
998,female,group D,some college,standard,completed,68,78,77,74.33
999,female,group D,some college,free/reduced,none,77,86,86,83.00

In [30]:
#CARGAR ARCHIVO ANTERIOR CON LOS NUEVOS VALORES EN CSV
#udp=pd.read_csv('UpdateStudents.csv')
#udp

In [31]:
# VALUE COUNT --
#contar los valores de ciertos atributos dentro de una columna...

In [32]:
df_op['gender'].value_counts()

female    518
male      482
Name: gender, dtype: int64

In [33]:
#OBTENER PORCENTAJE DE LOS AT RIBUTOS DE LA COLUMNA,,,,,
df_op['gender'].value_counts(normalize=True)

female    0.518
male      0.482
Name: gender, dtype: float64

In [34]:
df_op['parental level of education'].value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64