In [6]:
import pandas as pd

In [7]:
df_bsoton=pd.read_csv('Boston House Prices.csv')

In [8]:
df_bsoton.describe()

            Rooms    Distance       Value
count  506.000000  506.000000  506.000000
mean     6.284634    3.795043   22.532806
std      0.702617    2.105710    9.197104
min      3.561000    1.129600    5.000000
25%      5.885500    2.100175   17.025000
50%      6.208500    3.207450   21.200000
75%      6.623500    5.188425   25.000000
max      8.780000   12.126500   50.000000